<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header');-%>

    <body>
        <!-- Navigation-->
        <%- include('layouts/navbar');-%>
            <!-- <h1>Home Page</h1>

            <h2>This page lists tests</h2> -->
    </body>

    <script src="js/index.js"></script>

</html>