<!DOCTYPE html>
<html lang="en">
<!-- Header -->
<%- include('layouts/header');-%>

    <body>
        <!-- Navigation bar -->
        <%- include('layouts/navbar');-%>
            <div class="page-heading">
                <h1>New User (Test Creator) Registered!</h1>
            </div>


            <!-- Footer -->
            <%- include('layouts/footer') -%>
                <!-- Script -->
                <%- include('layouts/scripts'); -%>
    </body>

</html>