<!DOCTYPE html>
<html lang="en">
<!-- Header -->
<%- include('layouts/header');-%>

    <body>
        <!-- Navigation bar -->
        <%- include('layouts/navbar');-%>

            <h1>404 page not found</h1>

            <!-- Footer -->
            <%- include('layouts/footer') -%>
                <!-- Script -->
                <%- include('layouts/scripts'); -%>
    </body>

</html>