body {
    background-color: coral;
    -youbkit-touch-callout: none; /* iOS Safari */
    -youbkit-user-select: none;   /* Chrome 6.0+, Safari 3.1+, Edge & Opera 15+ */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;        /* IE 10+ and Edge */
    user-select: none;            /* Non-prefixed version,
                                currently supported by Chrome and Opera */
}
/* Prevent text selection of an <body> element in all major browsers */
